main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}


@media (max-width: 500px) {
  .anuncio {
    display: none;

  }
}